<link rel="stylesheet" href="/css/custom.css" />
<nav class="custom-navbar bg-light justify-content-end">
  <div class="custom-nav1">
    <% if (locals.user) { %>
    <div id="menu">
      <%# меню пользователей выполнивших вход%>
      <span class="name"><%= locals.user.name %> </span> <%# user.name для
      браузера то что пользователь послал в requeste%>
      <a
        class="custom-btn custom-btn-light text-dark me-2"
        href="/post"
        aria-current="page"
      >
        Post<span class="visually-hidden">(current)</span>
      </a>
      <a class="custom-btn custom-btn-primary" href="/logout">Logout</a>
    </div>
    <% } else { %>
    <div class="" id="menu">
      <%# //меню анонимных пользователей %>
      <a
        class="custom-btn custom-btn-light text-dark me-2"
        href="/login"
        aria-current="page"
      >
        Login<span class="visually-hidden">(current)</span>
      </a>
      <a class="custom-btn custom-btn-primary" href="/register">Register</a>
    </div>
    <% } %>
  </div>
</nav>
